
        h6 {
            color: red;
            background-color: antiquewhite;
        }
        ol {
            color: red;
            
        }
        h1 > span {
            color: green;
        }
        h3 > span {
            display: inline;
        }
        h4 > span {
            display: none;
        }
        .text-green {
            color: green;
        }
        .bg-blue {
            background-color: blue;
        }
        #my-id {
            color: orange;
        }
        h1 {
            font-size: 40px;
            letter-spacing: 20px;
            font-weight: 300;
            background-color: rebeccapurple;
            color: #428715;
            opacity: 0.3;
            width: 600px;
            height: 100px;
            padding: 100px ;
            margin: 120px;
            border: 1px solid black;
           /*  border-width: 5px;
            border-style: solid;
            border-color: black; */
        }
        a  {
            background-color: brown;
            display: inline;
        }